# Fly.io v2 configuration
app = 'vno-back-end'
primary_region = 'sin'

[build]

[env]
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0

[[http_service.checks]]
  interval = '15s'
  timeout = '3s'
  grace_period = '10s'
  method = 'GET'
  path = '/q/health'

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1

